<template class="task-template">
    <div id='fs-catalog-modal' class="tab-pane fade in active about modal" >
        <div><button class="modal-hide">点我退出</button><div>
            <table class="table table-bordered table-hover">
                <caption class="h3 text-info">{{title}}</caption>
                <tr v-for="item in items">
                    <th class="text-center" v-if="$index==1" v-for="it in item" track-by="$index">{{it}}</th>
                    <td class="text-center" v-if="$index>1" v-for="it in item" track-by="$index">{{it}}</td>
                </tr>
            </table>
    </div>
    <script>

         var tem = new Vue({
            el:'#fs-catalog-modal',
            data:{
                title:'资源目录',
                items:[],
                items_list:{}
            },
            mounted:function(){
               
            }, 
            methods:{
                init:function() {
      
                    if (file in this.items_list){
                        this.items = this.items_list[file].slice(0,10)
                        return
                    }
                    tem.title="资源目录"

                    var fs = require('fs')
                    var path = require('path')
                    var filename = path.join( __dirname, './sections/cities/',file)
                    var data = fs.readFile(filename,function(err,data){
                        if(!err){
                            tem.items_list[file] = JSON.parse(data)
                            
                            tem.items = tem.items_list[file].slice(0,10)
                             
                        } else{
                            tem.items = []
                            tem.title="暂无数据..."
                        }
                    
            
                    })
                

                },
                load:function(){

                    it = tem.items_list[file].slice(tem.items.length,tem.items.length+10)
                    for( i in it)
                        tem.items.push(it[i])
                }
            }
        })
        let node = document.getElementById('fs-catalog-modal') 
        node.addEventListener('scroll',function(){
            if(node.scrollHeight - node.scrollTop === node.clientHeight){ 
                tem.load()
            }
        })



    </script>
</template>