<template class="task-template">
    <div id='fs-catalog-modal' class="tab-pane fade in active about modal" >
        <div><button class="modal-hide">点我退出</button><div>
            <table class="table table-bordered table-hover">
                <caption class="h3 text-info">资源目录</caption>
                <tr v-for="item in items">
                    <th class="text-center" v-if="$index==1" v-for="it in item" track-by="$index">{{it}}</th>
                    <td class="text-center" v-if="$index>1" v-for="it in item" track-by="$index">{{it}}</td>
                </tr>
            </table>
    </div>
    <script>

        var tem = new Vue({
            el:'#fs-catalog-modal',
            data:{
                items:[]
            },
            methods:{
                init:function() {
                    var fs = require('fs')
                    var path = require('path')
                    var filename = path.join( __dirname, './sections/cities/fs_catalog.json')
                    console.log(file)
                    var data = fs.readFileSync(filename)
                    data = JSON.parse(data)
                    var header = data[0]
                    if ('myheader' in data[0]){
                        header = header['myheader']
                        data[0] = header
                    } 

                    var header_list = []

                    //获取表头 
                    if ('header_sort' in header){
                        header_list = header['header_sort']
                    }else{
                        for(h in header){
                            header_list.push(h)
                        }
                    }


                    for (d in data){
                        mi_list = []
                        for (h in header_list){
                            mi_list.push(data[d][header_list[h]])
                        }
                        this.items.push(mi_list)
                        //console.log(mi_list)
                    }

                },
            }
        })
        

    </script>
</template>